.location_wrapper {
  margin-bottom: 32px;
}

.locationInput_wrapper {
  position: relative;
  margin-top: 8px;
}

.location_svg {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);

  fill: var(--label);
}

.location_input {
  width: 100%;

  padding: 18px 18px 18px 44px;

  border: transparent;
  border-radius: 10px;
  background: var(--input-bg-color);
  outline: transparent;
}

.location_input:focus + .location_svg {
  fill: var(--primary-black);
}

.location_input::placeholder {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: var(--label);
}
