:root {
  --main: #101828;
  --text-color: #475467;
  --button: #e44848;
  --button-hover: #d84343;
  --white: #ffffff;
  --rating: #ffc531;
  --rating-hover: #ffbe1a;
  --inputs: #f7f7f7;
  --blok-features: #f2f4f7;
  --placeholder: rgba(16, 24, 40, 0.6);

  --transition-function: cubic-bezier(0.4, 0, 0.2, 1) 250ms;

  --container: 1440px;
}
