@import "./styles/variables.css";
@import "./styles/reset.css";
@import "./styles/common.css";

#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background-color: var(--primary-color);
  display: flex;
}

.no-scroll {
  overflow: hidden;
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  flex: 1;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  text-align: start;
}

.header {
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--white);
  position: sticky;
}
